<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting id="cleanup" type="action" label="Clear Cache" action="RunPlugin(plugin://plugin.video.minitv/resources/lib/main/cleanup/)" option="close" />
		<setting id="device_id" type="text" label="Device ID" default="3dbe08fe7d394c2d9ca44f31ec057f2d" enable="false" />
		<setting id="deviceidgen" type="action" label="Generate New Device ID" action="RunPlugin(plugin://plugin.video.minitv/resources/lib/main/generate_deviceid/)" />
	</category>
</settings>